.header-container {
  .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    color: #0a033c;
  }
  .header-button-group {
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
