.MuiInput-root{
  cursor: pointer;

  &::after, &::before {
    border-bottom: none !important;
  }
}

.label-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 2rem;
  cursor: pointer;
}