.login {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 2rem;
  }
  .login-form-container {
    margin-top: 2rem;
    .login-form__header {
      margin-bottom: 37px;
      text-align: center;
    }
  
    .login-form {
      background-color: #fff;
      width: 413px;
      // height: 395px;
      padding: 3rem 2rem 4rem;
      margin-bottom: 2rem;
      // gap: 25px;
      border-radius: 7px;
      align-items: center;
      margin: auto;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4), 0px 4px 28px rgba(0, 0, 0, 0.08),
        0px 10px 40px rgba(0, 0, 0, 0.01);
      .login-inputs {
        width: 100%;
      }
    }
  
    .login-form__label {
      margin-bottom: 10px;
    }
  
    .login-form__remember {
      margin-bottom: 30px;
    }
  
    .login-form__forgot {
      display: block;
      margin-top: 53px;
      text-align: center;
    }
  }
  
  .login__cmc-logo {
    margin-top: 2%;
    // width: 261px;
    // height: 55px;
    display: flex;
    justify-content: center;
  }
  
  .copyright {
    justify-self: end;
    margin-top: auto;
    margin-bottom: 1%;
  }
  