.MuiDataGrid-columnHeaderTitle {
  text-transform: uppercase;
}

.custom-row-status {
  padding: 2px 4px;
  gap: 4px;
  background: #e2eafd;
  border-radius: 4px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
